body{
  background-color: #faf8f2;
  background-image: url("Portfólio.png");
  background-repeat: round;
   padding:50px;
  justify-content:center;
  align-items:center;
}

main{
  margin-top:50px;
 justify-content: space-evenly;
 display: flow;
 flex-direction: column;
 align-items: center;
 align-content: center;
}

nav{
  position:sticky;
  display: flex;
  align-items: flex-start;
  justify-content:center;
  gap:30px;
}

ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0 40px;
  text-decoration: none;
  font-family: 'Bogart','Segoe UI';
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}

li a:hover {
  text-shadow: 0 0 25px pink;
  transform:rotate(-5deg);
}

li{
  color: #000;
  font-family: 'Bogart','Segoe UI';
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}


h1{
    font-family: 'Bogart','Segoe UI';
    font-size: 25px;
    color: black;
}

h2{
  font-family: 'Bogart','Segoe UI';
  font-size: 25px;
  color: black;
  font-weight: 400;
  font-style:italic;
  text-shadow:0 1px 10px #faf9f4;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:70px;
  /* background-color:lightblue; */
  /* border: 1px black dashed; */
  border-radius:5px;
  gap: 50px;
  flex-wrap: wrap;
}

.org{
  /* width: min-content; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex;
  justify-items: center;
  align-content: center;
  gap:20px;
}


button{
  font-size:17px;
  margin:10px;
  font-family:'Bogart','Segoe UI';
  padding:12px;
  border-radius:10px;
  box-shadow: 3px 3px 0 #000000;
}

button:hover{
  background-color:pink;
  box-shadow: 1px 1px 0 #000000;
  transform:translate(3px, 2px);
}

img{
  padding:0;
  height:max;
  width:270px;
}

.polaroid{
  width:250px;
  height:max;
  border: 10px solid #faf9f4;
  border-bottom:30px solid #faf9f4;
  margin:2px black;
  box-shadow:0 0px 6px #898e9d;
  transform: rotate(-3deg);
}

.polaroid:hover{
  width:250px;
  height:max;
  border: 10px solid #faf9f4;
  border-bottom:30px solid #faf9f4;
  margin:2px black;
  box-shadow:0 0px 6px #898e9d;
  transform: rotate(3deg);
  filter:grayscale(1);
}

section{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction:column;

}

p{
  font-family:'Bogart','Segoe UI';
  display:flex;
  font-weight:300;
  flex-wrap:wrap;
}

h3{
  justify-content:center;
  align-items:center;
  margin-bottom:-50;
  margin-left:90;
  font-style:italic;
  font-size:60px;
  font-weight:500;
  letter-spacing:-4px;
  font-family:'Bogart','Segoe UI';
}

.espaçamento{
  justify-content:center;
  align-items:center;
  width: 100%;
}

footer{
  display:flex;
  flex-direction:column;
  padding:100px;
  background: #c097de;
  background: linear-gradient(0deg, rgba(192, 151, 222, 1) 0%, rgba(244, 245, 233, 0.29) 52%);
  justify-content:center;
  align-items:center;
  width: 100%;
}

a:link{
  color:black;
  text-decoration:none;
}

a:visited{
  color:black;
  text-decoration:none;
}