body{
  background-color: #faf8f2;
  background-image: url("Portfólio.png");
  background-repeat: round;
   padding:50px;
  justify-content:center;
  align-items:center;
}

main{
 justify-content: space-evenly;
 display: flow;
 flex-direction: column;
 align-items: center;
 align-content: center;
}

main {}

nav{
  position:sticky;
  display: flex;
  align-items: flex-start;
  justify-content:center;
}

ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0 40px;
  text-decoration: none;
  font-family: 'Bogart','Segoe UI';
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}

li a:hover {
  text-shadow: 0 0 25px pink;
  transform:rotate(-5deg);
}

li{
  color: #000;
  font-family: 'Bogart','Segoe UI';
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}


h1{
    font-family: 'Bogart','Segoe UI';
    font-size: 25px;
    color: black;
    border: 20px;
}

h2{
  font-family: 'Bogart','Segoe UI';
  font-size: 25px;
  color: black;
  font-weight: 400;
  font-style:italic;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
  padding:15px;
  background-color:lightblue;
  border: 1px black dashed;
  border-radius:5px;
  gap: 10px;
  /* flex-direction: unset; */
}

.org{
  /* width: min-content; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex;
  justify-items: center;
  align-content: center;
}


button{
  font-family:'Bogart','Segoe UI';
  padding:12px;
  border-radius:10px;
  box-shadow: 3px 3px 0 #000000;
}

button:hover{
  background-color:pink;
  box-shadow: 1px 1px 0 #000000;
  transform:translate(3px, 2px);
}

img{
  padding:0;
  height:max;
  width:270px;
}

.polaroid{
  border:aliceblue;
  border-bottom:10px #faf9f4;
}
